{
	"Console Program": {
		"name": "FillInHack Console.exe",
		"version": "1.0.0"
	},
	
	"Encryptor Program": {
		"name": "encryptor.exe",
		"version": "1.0.0"
	},
	
	"Help Program": {
		"name": "help.exe",
		"version": "1.0.0"
	},
	
	"Updater Program": {
		"name": "FillInHack Console Updater.exe",
		"version": "1.0.0"
	}
}